.hero
  .hero-inner
    %a.hero-logo{href: ""}
      %img{alt: "", src: "https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png"}/
    .hero-copy
      %h1 Short description of Product
      %p A few reasons why this product is worth using, who is it for and why do they need it.
    %button Learn More
  .instagram
    -@instagram.each do |instagram|
      = image_tag instagram.images.standard_resolution.url
