.hero
  .hero-inner
    .hero-logo
      = render 'logo'
    .hero-copy
      %h1 Short description of Product
      %p A few reasons why this product is worth using, who is it for and why do they need it.
    %button Learn More
  
  %h1 Over There
  %p Are you over it? What's it like over there? Find out exactly how hip your area is, over here!   
  =form_for @postcode do |f|
    = f.text_field :postcode, placeholder: "Search By Postcode"
    = f.submit "Search"

