html, body {
  height: 100%;
}

body {
  margin: 0;
}

.hero {
  $hero-background: desaturate(darken($base-accent-color, 20), 30); 
  $hero-color: white;

  background: url(/images/London-Fields.jpg);
  background-color: $hero-background;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
  height: 100%;

  .hero-logo {
    height: 10em;
    margin-bottom: 1em;
    .logo_hat {
      fill: #ff0080;
    }
    .logo_glasses {
      fill: #ffff00
    }
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 150px 3em 3em 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    .hero-copy {
      padding: 10px;
      text-align: center;
      background: rgba(255,102,102,0.5);
      opacity: 25%;
      
      h1 {
        font-size: 1.4em;
        margin-bottom: .2em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        margin: auto;
        margin-bottom: 3em; 
        font-weight: 400;

        @include media($large-screen) {
          font-size: 1.2em;
          max-width: 40%;
        }
      }
      input {
        width: 175px;
        display: inline-block;
        text-align: center;
        font-weight: 600;
        color: #000080;
      }
    }
  }
}

.search-bar {
  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10);

  position: relative; 
  display: inline-block;

  input {
    @include box-sizing(border-box);
    display: block;
  }

  div.search-and-submit {
    position: relative;

    input[type=search] {
      @include appearance(none);
      width: 100%;
      padding: .5em .8em;
      font-size: .9em;
      border-radius: $base-border-radius * 2;
      margin: 0;
    }

    button[type=submit] {
      @include button(simple, lighten($base-border-color, 10));
      position: absolute;
      top: 0.3em;
      right: 0;
      bottom: 0.3em;
      margin-right: 5px;
      outline: none;
      padding: 5px 10px;

      img {
        height: 12px;
        opacity: .7;
        vertical-align: top;
      }
    }
  }
}


#show-logo{
    height: 3em;
    margin-bottom: 1em;
    .logo_hat {
      fill: #ff0080;
    }
    .logo_glasses {
      fill: #ffff00
    }
  }

.notice {
  font-size: 10px !important;
  margin-top: 5px !important;
}

.grid-items {
  margin-top: 5px;
}


.full-width {
  width: 100% !important;
}

.grid-item {
  cursor: auto !important;
}

.small-padding {
  padding: 10px !important;
  > img {
    display: inline-block !important;
  }
  > h1 {
    display: inline-block !important;
    vertical-align: top !important;
    margin-top: 13px !important;
    margin-left: 5px !important;
  }
}

.zoopla-text{
  margin-right: 0;
  margin-left: 0;
  width: 400px;
}

p.zoopla-text{
  font-size: 0.8em;
}