%h1=@postcode.postcode
%h2=@postcode.borough
<<<<<<< HEAD


%p
  = 'Average property price increase within the last 5 years: '
  = @postcode.growth_average 
  ='%'

-@clients.each do |client|
  = client.name
